body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

h1 {
    font-size: 4rem;
    margin-bottom: 0;
}

h2 {
    font-size: 3.5 rem;

}

a {
    color: #477ca7;
}

#main {
    margin: 30px 8px;
    padding: 15px;
    border-radius:5px;
    background: #eee;
}
#tribute-info{
  font-size: 25px;
  margin: 1rem 1.5rem;
}

img {
    max-width: 100%;
    display: block;
    height: auto;
    margin: 0 auto;
}

#img-div {
    background : white;
    padding: 10px;
    margin: 0; 
    
}

#img-caption {
    margin: 10px 0 5px 0
}

#headline {
    margin: 50px 0;
    text-align: center;
}

ul {
    max-width: 550px;
    margin:0 auto 50px auto;
    text-align: left;
    line-height: 1.6;
}

li {
    margin: 16px 0;
}

blockquote {
    font-style: italic;
    text-align: left;
    max-width: 545px;
    margin: 0 auto 50px auto;

}
.descrition{
  font-size: 20px;
}